<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stevens.cs522.chat.oneway.server"
    android:versionCode="1"
    android:versionName="1.0">


    <permission android:name="com.chat_maps.chatmaps.permission.MAPS_RECEIVE" android:protectionLevel="signature"></permission>
    <permission
        android:name="edu.stevens.cs522.chat.oneway.server.permission.READ_PROVIDER"
        android:protectionLevel="signature"></permission>


    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

    <uses-permission android:name="edu.stevens.cs522.chat.oneway.server.permission.READ_PROVIDER" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WIFI" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ContactBookActivity" />
        <activity android:name=".activities.PreferencesActivity" />


        <provider
            android:name=".providers.DatabaseProvider"
            android:authorities="edu.stevens.cs522.chat.oneway.server"
            android:enabled="true"
            android:exported="true"
            android:readPermission="edu.stevens.cs522.chat.oneway.server.permission.READ_PROVIDER"/>

        <!--<service-->
            <!--android:name=".services.ChatSendService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" />-->
        <!--<service-->
            <!--android:name=".services.ChatReceiverService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" />-->
        <!--<receiver-->
            <!--android:name=".activities.ChatActivity.MessageBroadcastReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"/>-->
        <!--<receiver-->
            <!--android:name=".activities.ChatActivity$MessageReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"/>-->
        <receiver
            android:name=".activities.ChatActivity$SynchronizationAlarmReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".requests.RequestService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
